<main role="main" class="container">
  <div class="starter-template">
    <h1>¡Bienvenido a la aventura, {{ user.username }}!</h1>
    <br>
    {{#if isAdmin}}
      <div class="card mb-3 module">
      <img src="https://pbs.twimg.com/media/Dh6eMG6W0AEZ4Jl.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-module"><b>Crear Campaña</b></h5>
        <p class="card-text text-module">¿Tienes una gran historia que contar? ¿Tienes una aventura con grandes villanos y lugares fantásticos que puedes contar? Comienza una nueva aventura...</p>
        <p class="card-text"><small class="text-muted text-module">Escoge los módulos y prepara una nueva aventura</small></p>
        <a href="/app/dashboard/create-campaign" class="card-link text-module"><i>Comenzar creando la campaña...</i></a>
      </div>
      </div>
    {{/if}}
    
  {{#each campaigns}}
    <div class="card mb-3 module">
      <img src={{img_url}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-module"><b>{{name}}</b></h5>
        <p class="card-text text-module">{{description}}</p>
        <p class="card-text"><small class="text-muted text-module">Módulo West Marches</small></p>
        <a onclick="joinRoom('{{name}}','{{id}}','{{../user.username}}')" class="card-link text-module"><i>Entrar a la campaña...</i></a>
      </div>
    </div>
  {{/each}}
    

    <div class="card mb-3 module">
      <img src="https://cache.escapistmagazine.com/2019/09/inn_of_heroes_by_atomiiii-dc2oxlu-800x400.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-module"><b>Mapa de la Campaña</b></h5>
        <p class="card-text text-module">Los males del Multiverso amenazan la tierra, el Gremio organiza grupos de aventureros listos para enfrentarlo a cambio de sustansiosas recompensas ¡Tú y tu pintorezco grupo pueden ser estos héroes y salvar a todos!</p>
        <p class="card-text"><small class="text-muted text-module">Módulo West Marches</small></p>
        <a onclick="joinRoom('Mapa de Campaña','1','{{user.username}}')" class="card-link text-module"><i>Entrar a la campaña...</i></a>
      </div>
    </div>
    
    {{#if isAdmin}}
      <div class="card mb-3 module">
        <img src="https://cdnb.artstation.com/p/assets/images/images/011/678/751/large/vladimir-krisetskiy-tavern-06.jpg?1530816108" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-module"><b>Jugadores</b></h5>
          <p class="card-text text-module">Gestionar los personajes de tu campaña es vital para que tu historia y universo cobren vida y se vuelva realmente una historia digna de convertirse en leyenda y sus heroes cubiertos en la glroia eterna</p>
          <p class="card-text"><small class="text-muted text-module">Consulta tus jugadores</small></p>
          <a href="/app/profile/{{user.id}}" class="card-link text-module"><i>Consultar Jugadores</i></a>
        </div>
      </div>
    {{else}}
     <div class="card mb-3 module">
        <img src="https://geekandsundry.com/wp-content/uploads/2016/09/DD-climax-1024x544.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-module"><b>Personaje</b></h5>
          <p class="card-text text-module">De la fuerza de la espada a el poder de la magia innata, pasando por la habiliad del arco y los artificios, una gran variedad de personas coloridad caminan por el mundo, pero... ¿Cuál eres tú?</p>
          <p class="card-text"><small class="text-muted text-module">Consulta tus personajes</small></p>
          <a href="/app/profile/{{user.id}}" class="card-link text-module"><i>Consultar Personajes</i></a>
        </div>
      </div>
    {{/if}}

  </div>
</main>
