<main role="main">

  <div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tutorialModalLabel">Un mundo azotado, unos heroes se alzan...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{#eq user.role 'PC'}}
            <b>¡Bienvenido a la campaña!</b>
            <br>
            <br>
            <p>
              Este es el centro desde donde podrás interactuar con los eventos y aventuras que vivas en esta campaña, como Jugador
              puedes tener una representación del mapa de la tierra donde transcurre la aventura, además de poder ver los eventos que
              vayan sucediendo en tiempo real durante tus viajes con tu grupo.
              <br>
              <br>
              Debajo del mapa se encuentran los <b>eventos</b> que van ocurriendo durante las aventuras. Tendrás una oportunidad de 
              responder a ellos y poder tener una descripción más clara de lo que esta sucediendo en todo momento.
              <br>
              <br>
              Recuerda que para interactuar con algún evento en una campaña debes de tener un <b>Personaje</b> que es tu avatar en la
              campaña. Para tener un nuevo personaje debes de estar en acuerdo con tu Director de Juego que te asignara tu personaje, ¡así que
              reúnete con él y juntos creen el personaje de tus sueños!
              <br>
              <br>
              Sin más que decir, que comience la aventura...
            </p>
          {{/eq}}
          {{#eq user.role 'DM'}}
            <b>Eres el dueño de tu mundo</b>
            <br>
            <br>
            <p>
              Este es el centro desde donde podrás interactuar con los eventos y aventuras que vivas en esta campaña, como Director de
              Juego puedes tener una representación del mapa de la tierra donde transcurre tu aventura, además de poder crear los evento
              que afectarán la aventura de tus jugadores.
              <br>
              <br>
              Debajo del mapa se encuentran los <b>eventos</b> que vas creando durante las aventuras. Para crear nuevos eventos es tan fácil
              como hacer clic en <b>Añadir nuevo evento</b> en la parte inferior de la página. Una vez creados tus jugadores podrán decidir la
              mejor forma de responder.
              <br>
              <br>
              Para que un nuevo juagdor se pueda unir a una campaña tuya haz clic en la sección de <b>Añadir jugador</b> en la parte inferior de
              la pantalla, recuerda que deberás conocer el ID de tu jugador para invitarlo. Una vez adentro sólo queda crear un <b>Personaje</b>
              para el nuevo aventurero y ¡listo! puede comenzar su viaje.
              <br>
              <br>
              Sin más que decir, que comience la aventura...
            </p>
          {{/eq}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary module" data-dismiss="modal">Que comience</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mapWrapper">
    <div class="index-header">
      <h3 class="sectionTitle"><b>El Mundo...</b></h3>
      <button type="button" class="btn btn-primary float-right header" data-toggle="modal" data-target="#tutorialModal">
        Ayuda para explorar!
      </button>
    </div>
    <div class="starter-template container"></div>
  </div>

  <div class="eventsWrapper">
    <h3 class="sectionTitle"><b>Eventos</b></h3>
    {{#each events}}
    <a href="/app/campaign/{{../cmpid}}/event/{{id}}">
      <div class="card mb-3 module event-card">
        <div class="card-body">
          <h5 class="card-title text-module"><b>{{name}}</b></h5>
        </div>
      </div>
    </a>
    {{/each}}
  </div>

  <div>
    {{#eq user.role 'DM'}}
    <footer content="width=device-width, initial-scale=1.0 bg-dark" class="page-footer">
      <a href="/app/campaign/{{cmpid}}/event-form"><button type="button" class="btn btn-primary map-btn">Añadir nuevo
          evento</button></a>
      <a href="/app/campaign/{{cmpid}}/player-form"><button type="button" class="btn btn-primary map-btn">Añadir
          Jugador</button></a>
    </footer>
    {{/eq}}
  </div>
</main>

<style type="text/css">
  html {
    background-color: #fcfcfc;
  }

  h3 {
    font-family: 'Nunito', sans-serif;
    margin-left: 3%;
  }

  .container {
    padding: 0;
    background: transparent url("https://i.imgur.com/CLAraKd.jpg") no-repeat scroll;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 565px;
    left: 0;
    max-height: 1080px;
    background-position: center;
    background-color: #fcfcfc;
  }

  #event {
    width: 60px;
    height: 50px;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%
  }

  footer {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, .0);
  }

  .map-btn {
    margin-left: 1%;
    display: inline-block;
    background-color: #674ea7;
    border: #674ea7;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, .5);
  }

  .mapWrapper {
    width: 90%;
    margin-left: 5%;
  }

  .eventsWrapper {
    position: absolute;
    top: 710px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 100px;
  }

  .event-card {
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
  }

  .page-footer {
    position: fixed;
    bottom: 0;
  }

  .sectionTitle {
    margin-left: 0;
  }

  .card-title {
    margin-bottom: 0;
  }

  a:hover {
    text-decoration: none;
  }

  .index-header h3 {
    display: inline-block;
    margin-right: 10px;
  }

  .index-header button {
    display: inline-block;
  }
</style>